/* #video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:400px;
  height:300px;
}



#imageStore {
  display:none;
}

.camera {
  width: 340px;
  display:inline-block;
}

.output {
  width: 340px;
  display:inline-block;
}


.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
} */



body {
  font-family: 'Lato';
  background-color: #f0f0f0;
  margin: 0px auto;
  max-width: 1150px;
  background-image: url('./images/game-background.jpg');
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}

#videoel {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}

#canvas {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:400;
  height:300;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}

#container {
  position : relative;
  width : 370px;
  /*margin : 0px auto;*/
}

#content {
  margin-top : 70px;
  margin-left : 100px;
  margin-right : 100px;
  max-width: 950px;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

h2 {
  font-weight : 400;
}

.nogum {
  display : none;
}

.btn {
  font-family: 'Lato';
  font-size: 16px;

}
.hide {
  display : none;
}

.nohide {
  display : block;
}

.faceoff-logo {
 width: 500px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 50px;
}
